altgraph==0.17.5
greenlet==3.5.6
packaging==26.3
pefile==2024.8.26
playwright==1.58.0
pyee==13.0.1
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.7
pywin32-ctypes==0.2.3
setuptools==84.0.0
typing_extensions==4.16.0
